.nv{
    line-height: 13px;
}


.navlinks{
    font-family: 'Karla', sans-serif;
    font-size: 1.1rem;
    color: #1d184e;
    font-weight: 600;
    background-color: transparent;
    letter-spacing: 3px;
}


a.act{
    background-color: #dbd9eb;
}



a.active1 {
    box-shadow: inset 0 0 0 0 #dbd9eb;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  a.active1:hover {
    box-shadow: inset 120px 0 0 0 #dbd9eb;
  }

.square1{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 32em;
    height: 32em;
    background-color: #dbd9eb;
    display: block;
    animation:myanime 2s ;
}

@keyframes myanime {
    from {left: -32em;}
    to {left: 0px;}
  }

.name{
    z-index: 10;
    font-family: 'Karla', sans-serif;
    font-size: 4.1rem;
    color: #1d184e;
    font-weight: 700;
    background-color: transparent;
    letter-spacing: 3px;
    margin: 2em 0em;
    animation:myname 5s;
}
@keyframes myname {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  .about_name{
    z-index: 10;
    font-family: 'Karla', sans-serif;
    font-size: 4.1rem;
    color: #1d184e;
    font-weight: 700;
    background-color: transparent;
    letter-spacing: 3px;
    margin: 2em 0em;
    animation:myaboutname 5s;
}
@keyframes myaboutname {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  

  
.image{
    position: absolute;
    top: 14em;
    right: 0px;
    width: 25em;
    animation: myimage 2s;
}
@keyframes myimage {
    from {right: -25em;}
    to {right: 0px;}
  }

.discrep{
    z-index: 10;
    font-family: 'Karla', sans-serif;
    font-size: 2.1rem;
    color: #1d184e;
    font-weight: 400;
    background-color: transparent;
    letter-spacing: 2px;
    margin:-1rem
    

}
.abb{
    width:22em;
}




.aa{
    position: relative;
    bottom: 0.5em;
    width: 75%;
    height: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-right: 1.75rem;
    font-size: 2.1rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: none;
    padding-right: 2rem;
    color: #1d184e;
    font-family: 'Karla', sans-serif;
    
    
}

.about_aa{
    position: relative;
    bottom: 0.5em;
    width: 60%;
    height: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-right: 1.75rem;
    font-size: 2.1rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: none;
    padding-right: 2rem;
    color: #1d184e;
    font-family: 'Karla', sans-serif;
    
}

.cd{
    margin-top: 4rem;
    border:none;
}
.pi{
    width: fit-content;
    
}


.cardTitle{
    font-size: 2.1rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: #5e5897;
    text-transform: none;
}
.cardText{
    font-size: 1.5rem;
    letter-spacing: 0px;
    text-transform: none;
    color: #1d184e;
}
a.btncss{
    background-color: white;
    text-decoration: none;
    color:black;
    box-shadow: inset 0 0 0 0 #dbd9eb;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}

a.btncss:hover{
    box-shadow: inset 100px 0 0 0 #dbd9eb;
    color: #1d184e;
}
.footer{
    padding: 5em;
    text-transform: none;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    background-color: #dbd9eb;
    color: black;
}
.caard{
    animation: mycard 3s;
}
@keyframes mycard {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  .mynav{
    animation: myn 2s;
}
@keyframes myn {
    0% {top:-4em}
    100% {top:0px}
  }
.ca{
    align-items: center;
    padding: 2em;
}
.pro{
    display: flex;
    align-items: center;
    padding: 2em 0em;
}

.pro1{
    display: flex;
}
.cardTitle1{
    font-size: 2.1rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: #5e5897;
    text-transform: none;
}
.cardText1{
    font-size: 1.5rem;
    letter-spacing: 0px;
    text-transform: none;
    color: #1d184e;
}
.img{
    width: 100%;
    height: 100vh;
}
.cd{
    margin-bottom: 16rem;
}

div.sticky {
    position: sticky;
    top: 0;
    font-size: 20px;
  }

  .wrapper {
    display: flex;
    font-size: larger;
  }
  
  .main,
  .sidebar {
    padding: 15px;
    background-color: #fff;
  }
  
  .main {
    width: 60%;
    height: fit-content;
    padding:8em 0em;
    padding-left: 4em;
    padding-right: 6em;
    font-size: 1.3em;
    line-height: 1.7em;
    font-family:'Lato', sans-serif ;
  }
  .pad{
      margin-bottom: 10em;
  }
  
  
  .sidebar {
    width: 42%;
    height: 100vh;
  }
  
  .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .main_heading{
      letter-spacing: 4px;
      font-size: 0.7em;
      color: #1d184e;
    
  }

  .hh{
    box-shadow: inset 0 0 0 0 #dbd9eb;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }

  .nav_name{
    color: #1d184e;
     font-size:2em;
     margin-left: 3em;
      letter-spacing: 1px;
      text-decoration: none;
      font-weight: 700;
  }
  a.nav_name:hover{
      color: #1d184e;
  }

  .project_description{
    font-size: 1em;
    line-height: 1.7em;
    font-family:'Lato', sans-serif ;
    padding-left: 7em;
  }

  .project_name{
      letter-spacing: 2px;
      color: #1d184e;

  }

  .about_project{
      font-size: 1.3em;
      font-family:'Lato', sans-serif ;
  }

  .project_des{
      padding-left: 3em;
  }

  .project{
      margin:6em;
  }
 .collapsible{
     
     float: right;
     border: none;
     text-align: right;
     color: #1d184e;
     background-color: white;
     position: absolute;
     right: 2em;
     top:2em;
     display: none;
 }
 .collapsible_about{
     
    float: right;
    border: none;
    text-align: right;
    color: #1d184e;
    background-color: white;
    position: absolute;
    right: 2em;
    display: none;
    top:2em;
}
 .content{
     display: none;
 }



/********************************Responsive(479px)*******************************************/

  @media screen and (max-width: 479px){
      div.menu2{
          display: none;
      }
      .collapsible{
          display: block;
      }
      .collapsible_about{
        display: block;
    }
    .aa{
        position: static;
        margin-left: 0em;
        padding-right: 0em;
        padding-left: 0em;
        margin-right: 0rem;
        font-size: 3em;
    }
    div.aa{
        font-size: 1.6em;
        width:auto;
        letter-spacing: 0px;
        padding-left: 1em;
    
    }

    .about_aa {
        position: static;
        bottom: auto;
        width: auto;
    }
    div.about_aa{
        font-size: 1.5em;
        width:auto;
        letter-spacing: 0px;
        margin-top: 1.5em;
        padding-left: 1em;
    }
    p.footer{
        font-size: 1.5em;
        width:auto;
        letter-spacing: 0px;
    }
    .image{
        display:none;
    }
    
    .square1{
        width: 14em;
        height: 14em;
    }
    .name{
        margin:1em;
        
    }
    .about_name{
        margin:1em;
         
    }
    h1.about_name{
        font-size: 2.1rem;
        letter-spacing: 1px;
        padding-left: 1em;
        margin-top: 3em;
    
    }
    h1.name{
        font-size: 1.7rem;
        letter-spacing: 1px;
        padding-left:1.4em ;
        margin-bottom: 2.4em;
        margin-top: 3em;
    
    }
    
    a.nav_name{
        font-size: 1.3em;
    }
    .wrapper{
        flex-direction: column;
    }
    div.sidebar{
        position: inherit;
        width: auto;
    }
    div.main{
        width: auto;
        height: fit-content;
        padding: 2em 0em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 1em;
        line-height: 1.7em;
    }
    
    
    .project_name{
        letter-spacing: 2px;
        color: #1d184e;
    
    }
    
    .about_project{
        font-size: 1.3em;
        font-family:'Lato', sans-serif ;
    }
    
    div.project_des{
        padding-left: 0em;
        padding-top: 3em;
    }
    
    .project{
        margin:6em;
    }
    }


    /***************************************RESPONSIVE(767px)*******************************************/

    @media only screen and (max-width: 767px) and (min-width:479px){

        div.menu2{
            display: none;
        }
        .collapsible{
            display: block;
        }
        .collapsible_about{
          display: block;
      }
        .nav_name{
            font-size: 1.5em;
            color: #1d184e;
        }
        .aa {
            position: static;
            bottom: auto;
            width: auto;
        }
        div.aa{
            font-size: 2em;
            width:auto;
            letter-spacing: 0px;
            margin-top: 1.5em;
            padding-left: 1.3em;
        }

        .about_aa {
            position: static;
            bottom: auto;
            width: auto;
        }
        div.about_aa{
            font-size: 1.5em;
            width:auto;
            letter-spacing: 0px;
            margin-top: 1.5em;
        }

        

        p.footer{
            font-size: 1.8em;
            width:auto;
            letter-spacing: 0px;
            padding: 5em 1em;
        }
        .name {
            margin-bottom: 1.5em;
        }
        h1.name{
            font-size: 2.8rem;
            letter-spacing: 1px;
            padding-left:1.4em ;
            margin-bottom: 2em;
            margin-top: 3em;
        
        }
        .square1{
            width: 21em;
            height: 21em;
        }
        .image{
            display:none;
        }
        div.project_des{
            padding-left: 1em;
            padding-top: 3em;
        }
        div.project_image{
            padding-left: 2em;
        }

        .wrapper{
            flex-direction: column;
        }
        div.sidebar{
            position: inherit;
            width: auto;
            padding: 0px;
        }
        div.main{
            width: auto;
            height: fit-content;
            padding: 2em 0em;
            font-size: 1em;
            line-height: 1.7em;
        }
        .about_name{
            margin:1em;
             
        }
        h1.about_name{
            font-size: 3.1rem;
            letter-spacing: 1px;
            margin-top: 3em;
        
        }
        }
/**********************************************************************************************/
@media only screen and (max-width: 996px) and (min-width:767px){
    div.menu2{
        display: none;
    }
    .collapsible{
        display: block;
    }
    .collapsible_about{
      display: block;
  }
  div.main{
      padding-right: 0em;
  }
  .image{
      display: none;
  }
  .aa{
      width: auto;
  }
}









       .menu2{
           display:block;
       }


        .menu{
            height: 100vh;
            text-align: center;
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #dbd9eb;

        }

        .mystyle{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .ull{
            text-decoration: none;
            list-style-type: none;
        }

        .ali{
            text-decoration: none;
            color: #1d184e;
            font-size: 1.5em;
            letter-spacing: 5px;
            line-height: 2em;
            font-weight: 300;
            font-family: 'Lato', sans-serif;
           
        }
        a.ali{
            box-shadow: inset 0 0 0 0 #dbd9eb;
            transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        }
        a.ali:active{
            box-shadow: inset 100px 0 0 0 #dbd9eb;
        }

        .namrata{
            display:block;
        }